/**
 *
 * {{ properCase name }}
 *
 */
import React from 'react';
import styled from 'styled-components';

type Props = {

}

const {{ properCase name }} = (props: Props) => {
  return (
    <div>

    </div>
  );
}

{{#if memo}}
const isEqual = (prevProps: Props, nextProps: Props) => {
  return false;
}

export default React.memo({{ properCase name }}, isEqual);
{{else}}
export default {{ properCase name }};
{{/if}}
